
.listing-header{
    background-color: rgba(220, 220, 220, 0.198);
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.contactStatusCheckbox{
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 7%;
}